@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');

/* 背景画像を設定 */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* 横スクロールを無効化 */
}

.App {
  background-image: url('../public/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* コンテンツが画面全体を埋めるように調整 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  text-align: center;
  overflow: hidden;
}

/* トップバーのスタイル */
.top-bar {
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  color: #696969;
}

/* 新しく追加されたテキストのスタイル */
.invitation-text {
  font-family: 'IM Fell Great Primer SC', serif;
  color: #FADE69;
  font-size: 12px;
  margin-bottom: 30px;
  padding: 
